.navbar {
    height: 50px;
    background-color: #9B87B6;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    border-radius: 8px;
}

.navbar .homebutton {
    color: #E5B142;
}

.navbar a {
    padding-top: 15px;
    padding-right: 200px;
    padding-left: 20px;
    text-decoration: none;
}

.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.column img {
    width: 1006px;
    height: 484px;
    border-radius: 10px;
}

.column:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.column:nth-child(2) h1 {
    text-align: center;
    color: #E5B142;
    font-size: 40px;
}

.column:nth-child(2) p {
    text-align: center;
    color: #2D4475;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}


.footer {
    display: grid;
    margin-bottom: 0px;
    height: 280px;
    grid-template-columns: 1fr 1fr;
    background-color: #9B87B6;
}

.leftfooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftfooter h2 {
    color: #E5B142;
    font-size: 40px;
}

.rightfooter {
    display: flex;
    justify-content: left;
    align-items: center;
}

.rightfooter p{
    color: White;
    font-size: 24px;
}

.rightfooter p a{
    text-decoration: none;
}