.navbar {
    height: 50px;
    background-color: #9B87B6;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    border-radius: 8px;
}

.navbar .lacasa a{
    color: #E5B142;
    max-width: 60px;
}

.navbar a {
    padding-top: 10px;
}

.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B5E3D8;
    height: 350px;
}

.column img {
    width: 500px;
    height: 375px;
    border-radius: 10px;
}

.column:nth-child(2) {
    display: flex;
    flex-direction: column;
    background-color: #F2C75C;
}

.column:nth-child(2) h1 {
    text-align: center;

}

.column:nth-child(2) p {
    text-align: center;
}

.IGcontainer h2{
    background-color: red;
}

.footer {
    display: grid;
    margin-bottom: 0px;
    height: 280px;
    grid-template-columns: 1fr 1fr;
    background-color: #9B87B6;
}

.leftfooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftfooter h2 {
    color: #E5B142;
    font-size: 40px;
}

.rightfooter {
    display: flex;
    justify-content: left;
    align-items: center;
}

.rightfooter p{
    color: White;
    font-size: 24px;
}