.menubar {
    height: 70px;
    background-color: #9B87B6;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
}

.menubar ul li a#homebutton {
    color: #E5B142;
    font-size: 24px;
    font-weight: bold;
}

.menubar li, .menubar ul {
    margin: 0px;
    padding: 0px;
}

.menubar ul {
    list-style: none;
    width: 100%;
}

.menubar li {
    float: left;
    position: relative;
    width: auto;
}

li:hover ul.submenu {
    opacity: 1;
    top: 80px;
    visibility: visible;
}

.submenu li {
    float: none;
    width: 100%;
}

.submenu a:hover {
    background-color: #df4b05;
}

.submenu a {
    background-color: #9B87B6;
}

.menubar a {
    background-color: #9B87B6;
    color: white;
    display: block;
    font-weight: 400;
    font-size: 18px;
    padding-top: 25px;
    padding-right: 100px;
    padding-left: 20px;
    text-decoration: none;
    transition: all 0.25s ease;
}


.menubar li:hover a {
    background-color: #9B87B6;
}

.submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

.navbar {
    height: 70px;
    background-color: #9B87B6;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    border-radius: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.navbar .homebutton {
    color: #E5B142;
    font-size: 18px;
    font-weight: bold;
}

.navbar a {
    padding-top: 25px;
    padding-right: 200px;
    padding-left: 20px;
    text-decoration: none;
}

.footer {
    display: grid;
    margin-bottom: 0px;
    height: 280px;
    grid-template-columns: 1fr 1fr;
    background-color: #9B87B6;
    width: 100%;
}

.leftfooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftfooter h2 {
    color: #E5B142;
    font-size: 40px;
}

.rightfooter {
    display: flex;
    justify-content: left;
    align-items: center;
}

.rightfooter p{
    color: White;
    font-size: 24px;
}

.rightfooter p a{
    text-decoration: none;
}