.navbar {
    height: 70px;
    background-color: #9B87B6;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    border-radius: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.navbar .homebutton {
    color: #E5B142;
    font-size: 18px;
    font-weight: bold;
}

.navbar a {
    padding-top: 25px;
    padding-right: 200px;
    padding-left: 20px;
    text-decoration: none;
}
