#resourceheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0;
    padding: 0;
    height: 270px;
    background-size: cover;
    background-image: url(../images/resources.jpeg);
    background-position: 50% 50%;
}

#resourceheader h1 {
    color: #DA3A37;
    padding-left: 3%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 60px;
}

#resourceheader p {
    color: white;
    padding-top: 0%;
    padding-left: 3%;
    font-size: 24px;
    margin-right: 25%;
}

.background-tint {
    background-color: rgba(229, 177, 66, 0.7);
    background-blend-mode: multiply;
}

#resourcebody {
    margin-top: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}

#resourcebody .column h2 {
    font-size: 32px;
    text-decoration: none;
}

#resourcebody .column .content {
    width: 80%;
    align-content: left;
}

#resourcebody .column .content {
    color: #2D4475;
    font-size: 24px;
}

.list a {
    text-decoration: none;
    color: #924839;
}