#staffheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0;
    padding: 0;
    height: 270px;
    background-color: #F2C75C;
}

#staffheader h1 {
    color: #DA3A37;
    padding-left: 3%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 60px;
}

#staffheader p {
    color: white;
    padding-top: 0%;
    padding-left: 3%;
    font-size: 24px;
    margin-right: 25%;
}

#staffcards {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
}

.cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.flip-card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px;
  }

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front img {
    width: 350px;
    height: 350px;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    background-color: #B5E3D8;
    color: #2D4475;
    transform: rotateY(180deg);
}

.flip-card-back p {
    font-size: 20px;
    margin: auto;
    width: 85%;
}