#staffheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0;
    padding: 0;
    height: 270px;
    background-color: #F2C75C;
}

#staffheader h1 {
    color: #DA3A37;
    padding-left: 3%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 60px;
}

#staffheader p {
    color: white;
    padding-top: 0%;
    padding-left: 3%;
    font-size: 24px;
    margin-right: 25%;
}

#staffcards {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#staffcards .staffcard {
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

#staffcards .staffcard .staffname {
    padding-top: 0px;
    text-align: center;
    font-size: 24px;
    color: #DA3A37;
}

#staffcards .staffcard .front {
    width: 325px;
    height: 325px;
    padding-bottom: 0px;
    border-radius: 10px;
    backface-visibility: hidden;
}

#staffcards .staffcard .front img {
    width: 325px;
    height: 325px;
    padding-bottom: 0px;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#staffcards .staffcard .back {
    width: 325px;
    height: 325px;
    padding-bottom: 0px;
    border-radius: 10px;
    backface-visibility: hidden;
    background-color: #71ADB0;
    transform: rotateY(180deg);
}

#staffcards .staffcard .back p {
    text-align: center;
}

.flipCard {
    transform: rotateY(180deg);
}