#orgheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0;
    padding: 0;
    height: 270px;
    background-size: cover;
    background-image: url(../images/lacasa.jpeg);
    background-position: 50% 35%;
}

#orgheader h1 {
    color: #F2C75C;
    padding-left: 3%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 60px;
}

#orgheader p {
    color: white;
    padding-top: 0%;
    padding-left: 3%;
    font-size: 24px;
    margin-right: 25%;
}

.background-tint {
    background-color: rgba(210, 73, 103, 0.7);
    background-blend-mode: multiply;
}

#clublist {
    padding: 6% 13% 10% 13%;
}

#clublist .club {
    display: flex;
    padding-bottom: 5%;
}

#clublist .club .clubinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clublist .club .clubinfo h2 {
    color: #F08536;
    font-size: 40px;
    margin-bottom: 2%;
}

#clublist .club .clubinfo p {
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 24px;
}

#clublist .club .clubimage img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
}